<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Client Interface</title>
    
    <!-- jQuery & -UI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <!-- Emojis/Icons -->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet" /> 
    
    <!-- eigene Assets -->
    <link rel="stylesheet" href="assets/ceres.css" />
    <link rel="stylesheet" href="assets/sliders.css" />
    <script src="assets/functions.js"></script>
    
    
</head>

<body>
    
    <!--<div id="critical">
        <h4>kritisch</h4>
        <div></div>
    </div>-->
    
    <div id="fbCon">
        <fieldset>
            <legend>Server-Feedback</legend>
            <span id="fbText"></span>
        </fieldset>
    </div>
    
    <div id="tabs">
        <ul>
            <li>
                <a href="#tabs-1">
                    <span class="textTabs">Sound</span>
                    <span class="emojiTabs"><i class="em em-sound"></i></span>
                </a>
            </li>
            <li>
                <a href="#tabs-2">
                    <span class="textTabs">Display</span>
                    <span class="emojiTabs"><i class="em em-tv"></i></span>
                </a>
            </li>
            <li>
                <a href="#tabs-3">
                    <span class="textTabs">System</span>
                    <span class="emojiTabs"><i class="em em-zap"></i></span>
                </a>
            </li>
            <li>
                <a href="#tabs-4">
                    <span class="textTabs">Access</span>
                    <span class="emojiTabs"><i class="em em-closed_lock_with_key"></i></span>
                </a>
            </li>
            <li>
                <a href="/logout" onclick="window.location='/logout';">
                    <span class="textTabs">Logout</span>
                    <span class="emojiTabs"><i class="em em-door"></i></span>
                </a>
            </li>
        </ul>
        
        <div id="tabs-1">
            
            <h3>Outputs</h3>
            
            {% for i in data.pulse.sink %}
                <p>{{i.description}}
                {% if i.muted == 1 %}
                    <div class="unmute_sink_{{i.index}}">
                        MUTED
                        <button id="unmute_sink_{{i.index}}" onclick="setMute(this.id, 0)">UNMUTE</button>
                    </div>
                    <div class="mute_sink_{{i.index}}" style="display: none;">
                        <button id="mute_sink_{{i.index}}" onclick="setMute(this.id, 1)">MUTE</button>
                    </div>
                {% else %}    
                    <div class="unmute_sink_{{i.index}}" style="display: none;">
                        MUTED
                        <button id="unmute_sink_{{i.index}}" onclick="setMute(this.id, 0)">UNMUTE</button>
                    </div>
                    <div class="mute_sink_{{i.index}}">
                        <button id="mute_sink_{{i.index}}" onclick="setMute(this.id, 1)">MUTE</button>
                    </div>
                {% endif %}
                </p>
                <input id="vol_sink_{{i.index}}" type="range" min="0" max="100" steps="5" value="{{i.volume}}" onchange="changeVol(this.id, this.value);" />
            {% endfor %}
            
            <h3>Inputs</h3>
            
            {% for i in data.pulse.source %}
                <p>{{i.description}}
                {% if i.muted == 1 %}
                    <div class="unmute_source_{{i.index}}">
                        MUTED
                        <button id="unmute_source_{{i.index}}" onclick="setMute(this.id, 0)">UNMUTE</button>
                    </div>
                    <div class="mute_source_{{i.index}}" style="display: none;">
                        <button id="mute_source_{{i.index}}" onclick="setMute(this.id, 1)">MUTE</button>
                    </div>
                {% else %}    
                    <div class="unmute_source_{{i.index}}" style="display: none;">
                        MUTED
                        <button id="unmute_source_{{i.index}}" onclick="setMute(this.id, 0)">UNMUTE</button>
                    </div>
                    <div class="mute_source_{{i.index}}">
                        <button id="mute_source_{{i.index}}" onclick="setMute(this.id, 1)">MUTE</button>
                    </div>
                {% endif %}
                </p>
                <input id="vol_source_{{i.index}}" type="range" min="0" max="100" steps="5" value="{{i.volume}}" onchange="changeVol(this.id, this.value);" />
            {% endfor %}
            
        </div>
            
        <div id="tabs-2">
            <h3>Display</h3>
            <p>Display</p>
        </div>
        
        <div id="tabs-3">
            <h3>System</h3>
            <p><button class="sysbutton" value="killApp">Kill Application</button></p>
            <p><button class="sysbutton" value="reboot">Reboot</button></p>
            <p><button class="sysbutton" value="shutdown">Shutdown</button></p>
        </div>
        
        <div id="tabs-4">
            <h3>Access</h3>
            
            <form action="/api/post/pwd" method="post">
                <table>
                    <tr>
                        <td class="r">altes Passwort:</td>
                        <td class="l"><input type="password" name="old_pwd" /></td>
                    </tr>
                    <tr>
                        <td class="r">neues Passwort:</td>
                        <td class="l"><input type="password" name="new_pwd_1" /></td>
                    </tr>
                    <tr>
                        <td class="r">wiederholen:</td>
                        <td class="l"><input type="password" name="new_pwd_2" /></td>
                    </tr>
                    <tr>
                        <td class="r"></td>
                        <td class="l"><input type="submit" value="senden" /></td>
                    </tr>
                </table>
                
            </form>
        </div>
    </div>
</body>

</html>