a {
    outline: 0;
}

html {
    width: 100%;
}

p {
    /*margin-t: 0;*/
}

body {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    max-width: 60em;
    font-family: 'PT Serif', serif;
    font-size: 1em;
    line-height: 130%:
}

.ui-widget, .ui-widget input, input, .ui-widget button, button, textarea, .ui-widget textarea {
    font-family: 'PT Serif', serif;
    font-size: 1em;
}

@media screen and (max-width: 40em) {
    body, div#fbCon {
        padding: 0.5em;
    }
    span.textTabs {
        display: none;
    }
    span.emojiTabs {
        display: inline;
    }
    
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        padding: .5em 0.5em !important;
    }
    
    h3 {
        font-size: 1em;
    }
}

@media screen and (min-width: 40em) {
    body, div#fbCon {
        padding: 1em 1.4em;
    }
    span.textTabs {
        display: inline;
    }
    span.emojiTabs {
        display: none;
    }
}

h4 {
    margin-top: 0;
}

div#critical {
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 1em;
    
}
span.crit, span.non_crit {
    display: block;
}

span.crit {
    background: rgb(200,0,0);
    color: rgb(255,255,255);
    font-weight: bold;
    padding: 0.3em;
    margin: 0.3em;
    border-radius: 0.4em;
}

span.not_crit {
    color: rgb(0,120,0);
}

div#fbCon {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255,255,255,0.8);
    z-index: 10;
    display: none;
}

fieldset {
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}

span.fbOk {
    color: rgb(0, 153, 0);
}

span.fbError {
    color: rgb(153, 0, 0);
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #d3d3d3;
}